.calendar-overview {
  display: flex;
  flex-direction: column;
  height: 90vh;
  gap: 1rem;
}

.calendar {
  flex: 0 0 auto;
}

.day-view.scrollable {
  flex: 1 1 auto;
  overflow-y: auto;
}

.selected-date {
  font-size: medium;
  font-weight: bold;
}