<section class="calendar-overview">
    <app-title
        pageTitle = "Kalendar"
        additionalButton="/calendar/add"
        iconSlot="add"
        >
    </app-title>

    <mat-divider/>

    <div class="calendar">
        <mwl-calendar-month-view 
            [viewDate]="viewDate" 
            [events]="(events$ | async) ?? []" 
            (dayClicked)="dayClicked($event.day)"
        />
    </div>

    @if(viewDate !== null )
    {
        <p class="selected-date"> {{ viewDate.toLocaleDateString() }}</p>
        <div class="day-view scrollable">
            <mwl-calendar-day-view
                [viewDate]="viewDate"
                [events]="(events$ | async) ?? []"
            />
        </div>        
    }

</section>
