<div>
  <div class="login-page">

    <mat-card class="login-card">
      <mat-card-title>
        Willkommen zurück👋
      </mat-card-title>

      <mat-card-content>
        @if (!isOnline)
        {
          <p>
          Du bist offline – Login nicht möglich.
          </p>
        }  
        <!-- Login-Form -->
        <form [formGroup]="loginForm" (ngSubmit)="onSubmit()" novalidate class="login-form">
          @if(registrate)
          {
            <mat-form-field appearance="outline">
              <mat-label>Name</mat-label>
              <input matInput formControlName="name"/>
            </mat-form-field>
          }

          <mat-form-field appearance="outline">
            <mat-label>E-Mail</mat-label>
            <input matInput formControlName="email"/>
          </mat-form-field>
    
          <mat-form-field appearance="outline">
            <mat-label>Passwort</mat-label>
            <input matInput formControlName="password"/>
          </mat-form-field>
            
          <!-- Login Button -->
          <br/>
          <button
            matButton
            type="submit"
            [disabled]="loginForm.invalid || (loading$ | async) || !isOnline"
            class="w-full bg-blue-600 hover:bg-blue-700 disabled:bg-gray-400 text-white font-semibold py-2 rounded-lg transition"
          >
            @if(!(loading$ | async))
            {
                <span>{{ registrate ? 'Registrieren' : 'Anmelden' }}</span>
            }
            @if(loading$ | async) 
            {
                <span class="flex items-center justify-center">
                <svg class="animate-spin mr-2 h-4 w-4 text-white" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24">
                    <circle class="opacity-25" cx="12" cy="12" r="10" stroke="currentColor" stroke-width="4"></circle>
                    <path class="opacity-75" fill="currentColor" d="M4 12a8 8 0 018-8v8z"></path>
                </svg>
                Lädt...
                </span>
            }

          </button>
        </form> 
        <div>
          <p>
            {{ registrate ? 'Sie haben bereits ein Konto?' : 'Noch kein Konto?' }}
            <button matButton (click)="this.registrate = !registrate">{{ registrate ? 'Anmelden' : 'Registrieren' }}</button>
          </p>
        </div>                   
      </mat-card-content>
    </mat-card>
  </div>
</div>
