/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

:root {
    --primary-color: #007B83;
    --secondary-color:#A3D9A5;
    --accent-color: #F6B93B;
    --background-color: #F9FAFB;
    --error-color: #D64545;
    --text-primary: #1E1E1E;
    --text-secondary: #555555;
}