.bottom-nav {
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    justify-content: space-around;
    height: 56px;
    z-index: 1000;
    background-color: var(--primary-color);
}

.active {
    background-color: var(--secondary-color);
}

button {
    color: var(--text-primary);
}