@if(pet$ | async; as pet) {
    <section class="pet-detail">
        <app-title
            [pageTitle]="pet.name || 'Details'"
            routerLink="/dashboard">
        </app-title>
        <mat-divider></mat-divider>
        <div class="info">
            <p>Spezies: {{ pet.species }}</p>
            <p>Rasse: {{ pet.breed }}</p>
            <p>Geburtstag: {{ pet.birthDate.toDate()| date }}</p>
        </div>

        <div class="detailed-information">
            <!-- termine component, weight component, vaccine component, diagnosis component, other(notizen)-->
        </div>
    </section>    
}

