<app-title
  pageTitle="Neuen Termin anlegen"
  routerLink="/calendar"
></app-title>

<mat-card class="reminder-form-card">
  <form [formGroup]="reminderForm" (ngSubmit)="onSubmit()" class="reminder-form">
    
    <!--Title-->
    <mat-form-field appearance="outline">
      <mat-label>Titel</mat-label>
      <input matInput formControlName="title"/>
    </mat-form-field>

    <!--Assigned Pet-->
    <mat-form-field appearance="outline">
      <mat-label>Zugehöriges Haustier</mat-label>
      <mat-select formControlName="petId">
        @for (pet of (pets$ | async); track pet.id)
        {
          <mat-option
            [value]="pet.id">
            {{ pet.name }}
          </mat-option>          
        }
 
      </mat-select>
    </mat-form-field>

    <!--Start Date-->
    <mat-form-field appearance="outline">
      <mat-label>Datum</mat-label>
      <input matInput formControlName="startDate" [matDatepicker]="picker"/>
      <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
      <mat-datepicker #picker></mat-datepicker>
    </mat-form-field>

    <!--Start Time-->
    <mat-form-field appearance="outline">
      <mat-label>Startzeit</mat-label>
      <input matInput type="startTime" formControlName="startTime" />
    </mat-form-field>

    <!--End Time (optional)-->
    <mat-form-field appearance="outline">
      <mat-label>Endzeit</mat-label>
      <input matInput type="endTime" formControlName="endTime" />
    </mat-form-field>

    <div class="form-actions">
      <button matButton="elevated" color="primary" type="submit" [disabled]="reminderForm.invalid">
        Termin
      </button>
    </div>

  </form>
</mat-card>