<app-title
  pageTitle="Neuen Termin anlegen"
  routerLink="/calendar"
></app-title>

<mat-card class="reminder-form-card">
  <form [formGroup]="reminderForm" (ngSubmit)="onSubmit()" class="reminder-form">
    
    <mat-form-field appearance="outline">
      <mat-label>Titel</mat-label>
      <input matInput formControlName="title"/>
    </mat-form-field>

    <mat-form-field appearance="outline">
      <mat-label>Zugehöriges Haustier</mat-label>
        <input matInput formControlName="petName"/>
    </mat-form-field>

    <mat-form-field appearance="outline">
      <mat-label>Start</mat-label>
      <input matInput formControlName="startTime" [matDatepicker]="picker"/>
      <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
      <mat-datepicker #picker></mat-datepicker>
    </mat-form-field>

    {{ error$ }}

    <div class="form-actions">
      <button matButton="elevated" color="primary" type="submit" [disabled]="reminderForm.invalid">
        Termin
      </button>
    </div>

  </form>
</mat-card>